﻿
@model  Asp.NETMVCCRUD.Models.Supplier
@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "Proveedores", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.SupplierID)
    <div class="form-group">
        <div class="container">
            <div class="col-md-3 ">

                @Html.Label("Nombre de Compañía", new { @class = "control-label "})
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control alphaonly ", maxlength = 20 } })
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
            <div class="col-md-3 ">
                @Html.Label("Nombre de Contacto", new { @class = "control-label" })
                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control alphaonly", maxlength = 20 } })
                @Html.ValidationMessageFor(model => model.ContactName)
            </div>
        </div>

        <div class="container">
            <div class="col-md-3 ">

                @Html.Label("Título de Contacto", new { @class = "control-label" })
                @Html.EditorFor(model => model.ContactTitle, new { htmlAttributes = new { @class = "form-control alphaonly", maxlength = 20 } })
                @Html.ValidationMessageFor(model => model.ContactTitle)
            </div>
            <div class="col-md-3 ">
                @Html.Label("Ciudad", new { @class = "control-label" })
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control alphaonly", maxlength = 15 } })
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>
        <div class="container">
            <div class="col-md-3 ">
                @Html.Label("Teléfono", new { @class = "control-label" })
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @type = "number", maxlength = 13 } })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
        <div class="container">
            <div class="col-md-6 ">

                @Html.Label("Dirección", new { @class = "control-label" })
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control ", maxlength = 55 } })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="container">
            <div class="col-md-6">
                <input type="submit" value="Ingresar" class="btn btn-primary" />
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </div>
        <script>
            $(document).ready(function () {
                $('.alphaonly').bind('keyup blur', function () {
                    var node = $(this);
                    node.val(node.val().replace(/[^a-z]/g, ''));
                }
                );
            });
        </script>

        }
