﻿
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<h2>Categorias</h2>

<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit","Categorias")')"><i class="fa fa-plus"></i> Add New</a>
<table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Nombre de Categoria</th>
            <th>Descripcion</th>
            @*<th>Foto</th>*@
            <th></th>
        </tr>
    </thead>
</table>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script>
        var Popup, dataTable;
        $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
            console.log("mensaje error "+ message);
        };

        $(document).ready(function () {

            dataTable = $("#employeeTable").DataTable({
                "ajax": {
                    "url": "/Categorias/GetData",
                    "type": "GET",
                    "datatype": "json"
                },


                "columns": [
                    { "data": "CategoryName" },
                    { "data": "Description" },
                    //{ "data": "Picture" },

                    {
                        "data":"CategoryID" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Categorias")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Delete</a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }

                ],
                "language": {

                    "emptyTable": "No se encontraron datos, porfavor haga click en <b>Add New</b> Button"
                }
            });
        }

        );

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'LLenar detalles de Categoria',
                    height: 500,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if($(form).valid()){
                $.ajax({
                    type : "POST",
                    url : form.action,
                    data : $(form).serialize(),
                    success : function (data) {
                        if(data.success)
                        {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message,{
                                globalPosition :"top center",
                                className : "success"
                            })

                        }
                    }
                });
            }
            return false;
        }

          function Delete(id) {
            swal.fire({
                title: "Esta seguro?",
                text: "No podra recuperar este dato!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, eliminarlo!",
                closeOnConfirm: false
            }, function (isConfirm) {
                console.log("isconfirm " + isConfirm)
                if (!isConfirm) return;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Categorias")/' + id,
                    success: function (data) {
                        if (data.success) {
                            swal("Hecho!", "Su registro ha sido eliminado correctamente!", "Exito");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("Error al borrar!", "Porfavor intente mas tarde", "error");
                    }

                });
            });
        }
    </script>
}


