﻿@model Asp.NETMVCCRUD.Models.Employee
@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "Employee", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.EmployeeID)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Position, new { @class = "control-label" })
            @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Position)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Office, new { @class = "control-label" })
            @Html.EditorFor(model => model.Office, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Age, new { @class = "control-label" })
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Salary, new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon">$</span>
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Ingresar" class="btn btn-primary" />
            <input type="reset" value="Reset" class="btn" />
        </div>
    
}